{% load static %}

<li>
    <article class="post">
        <a href="{% url 'post-detail-page' 'the-mountains' %}">
            <img src="{% static 'blog/images/prof.png' %}"  alt="content" style="width: 300px; height: 150px;"/>
            <div class="post__content">
                <h3>Content</h3>
                <p>Lorem ipsum dolor sit, 
                    amet consectetur adipisicing elit. Facilis laudantium eaque, 
                    qui reiciendis dolor tempora at ab dicta sed, maxime ratione tempore animi? Ullam odio explicabo hic? Aspernatur.
                </p>
            </div>
        </a>
    </article>
</li>