{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/includes/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static 'blog/images/prof.png' %}" alt="Luan - The author of this blog" />
        <h2>LUAN'S BLOG</h2>
    </header>
    <p>Hi, I am Luan and this is my personal blog where I'm going to share my thoughts about tech and solutions that come into my mind.</p>
</section>
<section id="latest-posts">
    <h2>My latest thoughts</h2>

    <ul>
        {% for post in posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>
<section id="about">
    <h2>About me</h2>
    <p>Hi there! I'm a software developer with a passion for innovation and currently studying mechatronics engineering. I'm always striving to make a positive impact on the world, whether it's through my work or personal endeavors. I'm excited to share my journey with you through my blog, and hope to inspire others to pursue their passions and make a difference in their communities.</p>
</section>
{% endblock %}